@model WebApplication1.Models.Category

@{
    ViewBag.Title = "CreateCategory";
}

@using (Ajax.BeginForm(
    "CreateCategory",                     
    "product",                       
    null,                         
    new AjaxOptions {            
        HttpMethod = "POST", 
        OnSuccess = "OnSuccess", 
        OnFailure = "OnFailure",
        LoadingElementId = "progress"
        }, 
    new {                         
        @class = "form-horizontal", 
        id = "category-form" }))
{
  
  <div class="form-horizontal">
	<h2>Create Category</h2>
			<hr/>
			<div class="form-group">
				@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } }) 
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
					</div>
			 </div>
							
			<div class="form-group">
			 <div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-default" />
			</div>
			</div>
		</div>
<div id="progress" class="modal">
        <div class="center">
            <img src="~/Images/loader.gif" width=50/>
        </div>
    </div>
}

@section scripts
{
<script type="text/javascript">
    toastr.options = {
"closeButton": false,
"debug": false,
"positionClass": "toast-bottom-right",
"onclick": null,
"showDuration": "200",
"hideDuration": "1500",
"timeOut": "6000",
"extendedTimeOut": "1200",
"showEasing": "swing",
"hideEasing": "linear",
"showMethod": "fadeIn",
"hideMethod": "fadeOut"
}
        function OnSuccess(response) {
          toastr.success("", response);
         window.setTimeout(function() {
        window.location='./Category';
      }, 5000);
          
        }
        function OnFailure(response) {
            toastr.error("", response.responseJSON);
        }
   
    </script>	
}